AGENT_API_KEY=your-baidu-appbuilder-api-key
AGENT_API_URL=https://appbuilder.baidu.com/a2a/2b6f6369-c969-4a26-acd9-5d80cf1282c0
AGENT_CARD_URL=https://appbuilder.baidu.com/v2/a2a/2b6f6369-c969-4a26-acd9-5d80cf1282c0/.well-known/agent.json?api_key=your-baidu-appbuilder-api-key
FAST_AGENT_API_KEY=your-baidu-appbuilder-api-key
FAST_AGENT_API_URL=
FAST_AGENT_CARD_URL=https://appbuilder.baidu.com/v2/a2a/81991cc3-cc70-415c-9446-9583c6b48058/.well-known/agent.json?api_key=your-baidu-appbuilder-api-key
PORT=5173
